---
import Layout from "../../layouts/Layout.astro";
import type { Lang } from "../../types/lang.types";
import { isValidLang } from "../../utils/i18n";

const { lang } = Astro.params as { lang: Lang };

if (!isValidLang(lang)) {
	return new Response(null, { status: 404 });
}

if (Astro.locals.user) {
    return Astro.redirect("/perfil");
}
---

<Layout lang={lang} title="Login - DBLBox">
    <h1>Bienvenido a DBLBox</h1>
    <p>Inicia sesión para guardar tus equipos.</p>

    <div class="login-buttons">
        <a href="/login/google">
            <button>Entrar con Google</button>
        </a>

        <a href="/login/twitch">
            <button>Entrar con Twitch</button>
        </a>
    </div>
</Layout>
