---
import type { Lang } from "../../types/lang.types";
import type { UnitData } from "../../types/unit.types";
import UnitCard from "./UnitCard.astro";

interface Props {
	data: UnitData[];
	lang: Lang;
}

const { data, lang } = Astro.props;
---

<section class="unit-gallery">
	{
		data.map((unit) => {
			return <UnitCard unit={unit} lang={lang} />;
		})
	}
</section>

<style is:global>
	.unit-gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
		gap: 1rem;
		padding: 1rem;
		width: 100%;
		box-sizing: border-box;
	}
</style>
